<title>Salesforce Lighnting Out on Heroku</title>
<!--<script src="https://wineout-developer-edition.na112.force.com/lightning/lightning.out.js"></script>-->
<!-- Replace with own Community URL -->
<script src="https://pocmobile-sgws.cs97.force.com/lightning/lightning.out.js"></script>
